<ion-content>
    <div style="margin-top: 10em;">
        <ion-text color="primary">
            <h2>Seja bem vindo ao desafio</h2>
            <p>Este app destina-se ao grupo lets program no hambito do desafio proposto</p>
        </ion-text>
    </div>
    <div class="ion-padding">
        <ion-button (click)="goAsClient()" expand="block">
            Sou Cliente
        </ion-button>
    </div>
    <div class="ion-padding">
        <ion-button (click)="goAsMechanic()" expand="block">
            Sou Mecanico
        </ion-button>
    </div>
</ion-content>